.homebtn {
  background-color: #d8ccccbb;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
}
.homebtn:hover {
  transition: all 0.2s ease;
  background-color: #b7cfd6;
}

.repoPageWrapper {
  gap: 2rem;
  display: flex;
  align-items: start;
  padding: 1rem;
  margin-top: 5rem;
  margin-left: -5rem;
}

.card{
    display: flex;
    margin: 2rem 0;
    gap: 0.5rem;
    padding : 4px;
    padding-left: 0;
    cursor: pointer;
    max-width: fit-content;
  }